@import url("https://fonts.googleapis.com/css2?family=Anton&family=Zilla+Slab:wght@400;700&display=swap");
html {
  font-size: 72.5%;
  box-sizing: border-box;
}
body {
  background: #dfe7f5;
  font-family: "Zilla Slab", serif;
}
main {
  min-height: 78.8vh;
}
h4 {
  color: #0e5e6f;
}
h2 {
  font-family: "Anton", sans-serif;
  color: #0e5e6f;
}
p {
  color: #3a8891;
}
