.user_card {
    width: 350px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 15px;
    background: #cfd7ee;
    border-radius: 6px;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.20);
}

h1 {
  color: black;
}
  
.login_button {
  width: 80%;
  background: #8a7eee;
  color: white ;
}

.input-group-text {
  background: #8a7eee;
  color: white;
}

#messages{
  background-color: white;
  color: red;
  padding: 10px;
  margin-top: 10px;
  text-align: center;
}
  