{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container">
    <div class="text-center mt-5">
    <h1>Smarticle</h1>
        <p class="lead"><span class="lead fw-bold">Description:</span><br>As the power of the social network is growing and gathering around advertisements and money
            the ability to share knowledge based on personal experience gets too political.
            In <span class="lead fw-bold">Smarticle</span></span> we are giving you the ability to follow articles that fits your will!
            Just log in and start browsing your favorite topics
        </p>
        <p class="lead" ><span class="lead fw-bold">The Team:</span><br>Amit Finzi<br>Anas Khader Mhameed<br>Rawad AbuSaleh<br>Yael Noyman<br>Shalev Roimi</p>
    </div>
</div>
{% endblock content %}
