{% extends "base.html" %}
{% block content %}
{% load static %}

  <link rel="stylesheet"  href="{% static 'css/login.css' %}" />

{% if dev_accounts %}
<div class="content-container">
  <h1>
    <span class="highlight">LOGIN</span>
    <br />
  </h1>
</div>
<div class="container">
  <div class="login-form ">
    <form>
    <div class="text-center mt-5">
    <div class="row row-cols-1 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 container-lg g-4">
        {% for account in dev_accounts %}
          <a href="?next={{ request.GET.next }}&du={{ account.username }}" class="col">
            <div class="card">
              <img class="card-img-top" src="{{ account.account.avatar_url }}">
              <div class="card-body">
                <div class="name_card"
                <p class="card-text">{{ account.username }}</p>
              </div>
              </div>
            </div>
          </a>
        {% endfor %}
    </div>
  </from>
</div>
<div>
{% endif %}
{% endblock %}
